.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    left: 0; /* 画面の左端に合わせる */
  }
  
  .nav-container {
    width: 100%;
    max-width: 2560px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    height: 68px;  /* ロゴの高さをヘッダーの高さに合わせる */
    width: auto;   /* 幅を自動調整 */
  }
  
  .nav-links {
    display: flex;
    gap: 40px; /* リンクの間隔をさらに広げる */
    flex-grow: 1;
    justify-content: flex-end; /* リンクを右揃えにする */
    margin-right: 20px; /* メニューアイコンの左に間隔を空ける */
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
  }
  
  
  .menu {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .menu-icon {
    height: 30px; /* 適切なサイズに変更 */
    width: auto;
  }
  
  .popup-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 280px;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .search-bar {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .menu-links {
    margin-top: 20px;
  }
  
  .menu-links a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    margin-left: 20%;
  }
  
  .social-icons {
    position: absolute;
    bottom: 20px;
    left: 20%;
  }
  
  .social-icons a {
    color: black;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .social-icons i {
    font-size: 24px;
  }
  